:root {
  --wdth-card: 6rem;
}

/* Cards Box */

.cards__wrapper {
  margin-top: 5%;

  min-width: 2vw;
  max-width: 80vw;
  width: auto;
  height: auto;
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

/* Memory Card */
.card {
  --trans-vanish: visibility 0.25s, opacity 0.25s ease-in;
 
  flex: 1;
 
  min-width: var(--wdth-card);
  max-width: var(--wdth-card);
  height: calc(var(--wdth-card) * 1.5);
 
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2%;
 
  transition: var(--trans-vanish);
}
.card[data-state="collected"] {
  visibility: hidden;
  opacity: 0;
}
.card > * {
  pointer-events: none;
}
.card__item-wrapper {
  grid-row-start: 1;
  grid-column-start: 1;
 
  z-index: 0;
 
  display: grid;
  place-content: center;
 
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
.card__item {
  font-size: 2rem;
}
.card__cover {
  grid-row-start: 1;
  grid-column-start: 1;
 
  z-index: 1;
 
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
 
  transition: var(--trans-vanish);
}
.card[data-state="hidden"] > .card__cover {
  visibility: visible;
  opacity: 1;
}
.card[data-state="open"] > .card__cover {
  visibility: hidden;
  opacity: 0;
}
 