/* Global Variables */
:root {
  --height-header: 8vh;

  --clr-dark-purple: #270722;
  --clr-peach-yellow: #ecce8e;
  --clr-vanilla: #dbcf96;
  --clr-sage: #c2c6a7;
  --clr-light-blue: #9ac2c5;

  --fs-logo: 2.25rem;
  --fs-input-label: 1.5rem;
  --fs-input-box: 1.2rem;
  --fs-gamemode-size: 1.15rem;
  --fs-score-header: 2rem;
  --fs-score: 1.25rem;
  --fs-turn-header: 1.5rem;
  --fs-turn: 2.75rem;

  --background-image: url("../images/image.png");
}

/* Simple Reset */

/*
      1. Use a more-intuitive box-sizing model.
    */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
      2. Remove default margin
    */
* {
  margin: 0;
  padding: 0;
}
/*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
    */
body {
  width: 99vw;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: darkcyan;
}
/*
      5. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
      6. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit;
}
/*
      7. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;

  color: #ffffff;
}
/*
      8. Create a root stacking context
    */
#root,
#__next {
  isolation: isolate;
}

/* Always show arrows on number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Utility Classes */
.centered-child {
  display: grid;
  place-content: center;
}

.single-digit-input {
  width: 1.2rem;
}
.double-digit-input {
  width: 2rem;
}

body {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

/* Header Section */
header {
  width: 100%;
  height: var(--height-header);

  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  padding: 0.75rem 1.5rem;
  margin-right: 1.5rem;
}
.logo__text {
  font-size: var(--fs-logo);
  letter-spacing: 2px;
}

/* Gamemode */
.gamemode__box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.625rem;

  font-size: var(--fs-gamemode-size);
}

/* Main */
main {
  width: 100%;
  height: calc(100vh - var(--height-header));
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
}

/* Mid Section */
.middle-section {
  grid-column-start: 2;

  width: 100%;
  height: 100%;
  padding-top: 5%;
}

/* Data Box */
.data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  width: 100%;
}

.input-wrapper {
  display: flex;

  gap: 1rem;
}

/* Input Box */
.input-box {
  display: flex;
  align-items: center;
  gap: .5rem;

  font-size: var(--fs-input-label);
}
.input-box > input[type="number"] {
  text-align: center;
  font-size: var(--fs-input-box);

  height: 70%;
}


/* Right Section */
.right-section {
  grid-column-start: 3;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;

  letter-spacing: 2px;
}

/* Score Box */
.score-box {
  text-wrap: nowrap;
  align-self: center;

  color: #ffffff;
  margin-left: 15%;
}
.score__header {
  font-size: var(--fs-score-header);

  margin-bottom: 1rem;
}
.scores {
  font-size: var(--fs-score);
}

/* Turn */
.turn-box {
  padding: 5% 20%;
  text-align: center;
}

.turn__header {
  font-size: var(--fs-turn-header);
}
#turn {
  font-size: var(--fs-turn);
}


@media (max-width: 950px) {
  main {
    grid-template-columns: 0.2fr 3fr 1fr;

  }
  .right-section{
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}