:root {
    --size-calc-percent-width: 0.35;
    --size-calc-percent-height: 0.35;
}
 
.toggle {
    margin:0 0 0 0;
    position: relative;
    top: 1px;
    display: inline-block;
    width: calc(6rem * var(--size-calc-percent-width));
    height: calc(3.4rem * var(--size-calc-percent-height));
}
 
.toggle input {
    display: none;
}
 
.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #33455e;
    display: block;
    transition: all 0.3s;
    border-radius: calc(3.4rem * var(--size-calc-percent-width));
    cursor: pointer;
}
 
.roundbutton:before {
    position: absolute;
    content: "";
    height: calc(2.4rem * var(--size-calc-percent-height));
    width: calc(2.5rem * var(--size-calc-percent-width));
    border-radius: 100%;
    display: block;
    left: calc(.5rem * var(--size-calc-percent-width));
    bottom: calc(0.5rem * var(--size-calc-percent-height));
    background-color: white;
    transition: all 0.3s;
}
 
input:checked + .roundbutton {
    background-color: #FF6E48;
}
 
input:checked + .roundbutton:before  {
    transform: translate(calc(2.6rem * var(--size-calc-percent-width)), 0);
}
 